<%- include("header") %>





<div class="form-group shadow-textarea textarea">
    <label class="label1" for="exampleFormControlTextarea6">POST</label>
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="6" placeholder="Write post here..."></textarea>
    <button class="btn btn-primary">compose</button>
</div>











<%- include("footer") %>