<%- include("partials/header") %>













<div class="form-group shadow-textarea textarea">
<form method="POST" action="/compose">
    <label class="label1" for="exampleFormControlTextarea6">Compose</label>
    <input class="form-control title z-depth-1" name="title" id="exampleFormControlTextarea6" rows="1" placeholder="Write title here...">
    <textarea class="form-control z-depth-1" name="message" id="exampleFormControlTextarea6" rows="6" placeholder="Write post here..."></textarea>
    <button class="btn btn-primary" type="submit">compose</button>
</form>
</div>














<%- include("partials/footer") %>