<%- include("partials/header") %>


<h2>Home</h2>
<% for(let i=0; i<postArray.length; i++){ %>

    

    <% let showTitle = postArray[i].title %>
    
    <h2> <%= showTitle %> </h2>
    
   <%  let showMessage = postArray[i].message %>

   <p class="content"> <%= showMessage %> </p>

<% } %>




<%- include("partials/footer") %>